<div class="login">
  <div class="login-logo">
    <a ><img src="../../../images/logo.png" alt=""/></a>
  </div>
  <div class="app-cam">
    <form>
      <input type="text" class="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}">
      <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
      <div class="submit"><input type="submit" onclick="myFunction()" [routerLink]="['/hunter-index']" value="Login"></div>
      <div class="login-social-link" ></div>
    </form>
  </div>
</div>
